# Google Cloud OAuth Client ID (Required for Google Drive Cloud Backup)
OAUTH_CLIENT_ID=YOUR_GOOGLE_CLOUD_OAUTH_CLIENT_ID

# Android App Signing Keystore (Required for building a Release APK)
KEYSTORE_FILE=../release.keystore
KEYSTORE_PASSWORD=YOUR_KEYSTORE_PASSWORD
KEY_ALIAS=YOUR_KEY_ALIAS
KEY_PASSWORD=YOUR_KEY_PASSWORD
